/*、
禁止响应式布局
*/
.container {
    width: 1280px !important;
    max-width: none !important;
}
.resume_top .resume_basic {
    height: 300px;
    border: 1px solid #1e4468;
    background-color: #1e4468;
    border-radius:10px 10px 0px 0px;
}

.resume_top  .resume_down{

    border: 1px solid white;
    background-color: white;

}
.col-sm-8 {
    box-shadow:0px 0px  10px 5px #aaa;
    padding: 0px;
    border-radius:10px;
}
.row .col-sm-8 .resume_top .resume_down .resume_title {
    width: 704px;
    height: 40px;
    display: inline-block;
    border-radius:3px;
    color: white;
    text-align: left;
    padding-left: 20px;
    line-height: 40px;
    font-size: 18px;
    font-weight:bold;
    background: linear-gradient(to right, #1e4468, white);
}

.row .col-sm-8 .resume_top .resume_down .intention dl {
    margin: 20px;
}

.row .col-sm-8 .resume_top .resume_down .intention .intention_content{
    color: inherit;
}
.intention_content .intention, .money, .city {
    color: #878688;
    display: inline-block;
    padding: 15px 65px 15px 25px;
    font-size: 15px;
}
.container .row .col-sm-8 .resume_top .resume_basic {
    color: white;
    padding-left: 25px;
    font-size: 15px;
}
.resume_basic .information_border div {
    display: inline-block;
    padding: 10px 80px 10px 25px;
    width:  360px;

}
.resume_basic h2 {
    padding-left: 25px;
}
.resume_down .work .work div {
    color: #878688;
    display: inline-block;
    padding: 0px 80px 0px 25px;
    font-size: 15px;
}
.resume_down .work dl {
    margin: 20px;
}
.resume_down .project dl {
    margin: 20px;
}
.resume_down .project dl dd .project div {
    color: #878688;
    display: block;
    padding: 10px 0px 0px 25px;
    font-size: 15px;
}
.resume_down .education dl {
    margin: 20px;
}
.resume_down .education .education div {
    color: #878688;
    display: inline-block;
    padding: 30px 80px 30px 25px;
    font-size: 15px;
}

.col-sm-3 .sidebar-module .list-unstyled li a{
    width: 100%;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    padding-left: 30px;
    font-size: 15px;
    color: white;
    text-decoration: none;

}
.col-sm-3 .sidebar-module {
    border: 2px solid #2bd8ae;
    width: 200px;
    padding-top: 8px;
}

.col-sm-3 {
    margin-left: 136.5;
    left: 67%;
    position: fixed;
    top: 80px;
}
#top_id{
    left: 93%;
    position: fixed;
    top: 78%;
    font-size: 50px;
    color: white;
    background-color:#00c790 ;
}
#top_id:hover{
    color: #1e4468;
    cursor:pointer;

}
.information_border:hover {
    border: #00c790 2px dashed;
    margin-right: 25px;
    display: block;
    border-radius:5px;

}
.information_border{
    border: #1e4468 2px dashed;
    margin-right: 25px;
    display: block;
    border-radius:5px;

}
.information_border .glyphicon{
    float: right;
    display: none;
    background-color: #00c790;
    margin: 5px;
    font-size: 18px;
    padding: 5px;
    border-radius: 3px;
}
/*
锚点移上变色
*/
.information_jump:hover, .intention_jump:hover, .skill_jump:hover, .work_jump:hover, .project_jump:hover, .edu_jump:hover, .inter_jump:hover {
    background-color: #1e4468;
}

/*
锚点移上变色end
*/
/*模态框*/
.form-group {
    font-size: 14px;
    text-align: left;
    color: #566875;
    margin-left: 25px;
    margin-top: 20px;
}
.form-group label {
    display: inline-block;
    width: 70px;
}
.modal-footer {
    text-align: center;
}
.resume_basic h2 {
    margin-top: 35px;
}
.layui-form-select {
    display: inline-block;
    width: 172px;

}
.popover-content {
    color: red;
}
.modal-content {
    width: 662px;
}
.intention_content .intention_border {
    margin-top: 10px;
    border: white 2px dashed;
    border-radius:5px;
}
.intention_border .glyphicon_edit{
    float: right;
    background-color: #00c790;
    margin: 5px;
    font-size: 18px;
    padding: 5px;
    border-radius: 3px;
    color: white;
    display: none;
}
.intention_border:hover,.intention_border:hover .glyphicon_edit{
    border: #00c790 2px dashed;
    display: block;
    cursor:pointer;
}
.row .col-sm-8 .resume_top .resume_down .skill_border {
    padding: 15px 80px 15px 25px;
    margin-top: 10px;
    border: white 2px dashed;
    border-radius:5px;
    position: relative;
}
.skill_border .glyphicon {
    background-color: #00c790;
    margin: 5px;
    font-size: 18px;
    padding: 5px;
    border-radius: 3px;
    color: white;
    display: none;
    position: absolute;
    right: 0;
}
.row .col-sm-8 .resume_top .resume_down .skill_border:hover, .skill_border:hover .glyphicon{
    border: #00c790 2px dashed;
    display: block;
    cursor:pointer;
}
.resume_down .work .work {
    padding: 15px 80px 15px 0px;
    margin-top: 10px;
    border: white 2px dashed;
    border-radius:5px;
    position: relative;
}
.resume_down .work .work .glyphicon-pencil{
    background-color: #00c790;
    margin: 5px;
    font-size: 18px;
    padding: 5px;
    border-radius: 3px;
    color: white;
    position: absolute;
    display: none;
    right: 0;
}
.resume_down .work .work:hover,.resume_down .work .work:hover .glyphicon-pencil {
    border: #00c790 2px dashed;
    cursor:pointer;
    display: block;
}

/*
添加样式
*/
.container .row .null_message {
    margin-top: 30px;
    border: 2px dashed #4646467a;
    width: 800px;
    height: 80px;
    border-radius:10px;
    line-height: 80px;
    text-align: center;
    color: #00c790;
    background: #eae8e8;
    font-size: 16px;
    cursor:pointer;
}
/*空的内容移上变小手*/
.container .row .null_message:hover{
    background-color: white;
    border: 2px dashed #00c890;

}

